


@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
body {
  background-color: #00a7e6;
  font-family: Lato;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.invisible {
  visibility: hidden;
}
.hidden {
  opacity: 0;
}

.remove {
  display: none !important;
}



.pad {
  width: 50%;
  height: 700px;
  background-color: #232323;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 30px 35px -25px black;
  animation: showPad 1s ease forwards 1;
}

.pad .dial-pad {
  padding: 5px;
}

.pad .dial-pad .contact {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.pad .dial-pad .info {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.5s ease;
  color: white;
  height: 30px;
}

.fa-times {
  color: #e53935;
}

.fa-check {
  color: #3DE066;
}

.pad .dial-pad .call-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
  color: white;
  background: #2D2D2D;
  height: 60px;
  border-radius: 8px;
  width: 85%;
}

.pad .dial-pad .ongoing-call {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}
.pad .dial-pad .contact.showContact {
  opacity: 1;
}
.pad .dial-pad .contact .avatar {
  width: 60px;
  height: 90px;
  border-radius: 100%;
  box-shadow: 0 15px 30px -10px black;
  position: absolute;
  left: 0px;
  top: 8px;
}
.pad .dial-pad .contact .contact-info {
  border-radius: 8px;
  width: 85%;
  height: 76px;
  overflow: hidden;
}
.pad .dial-pad .contact .contact-info > div {
  width: 80%;
  margin-left: 20%;
  font-size: 12px;
  margin-top: 3px;
}
.pad .dial-pad .contact .contact-info .contact-name {
  color: #FDFDFD;
  margin-top: 12px;
}
.pad .dial-pad .contact .contact-info .contact-position {
  font-style: italic;
  color: #AEAEAE;
}
.pad .dial-pad .contact .contact-info .contact-number {
  color: white;
  padding-left: 12px;
}
.pad .dial-pad .contact .contact-info .contact-number span {
  color: #3DE066;
  display: inline;
}

.pad .dial-pad .blocked-ui {
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
  position: fixed;
  left: 225px;
  top: 165px;
  width: 50%;
  height: 546px;
}

.pad .dial-pad .phoneString {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #2D2D2D;
  margin-top: 40px;
}
.pad .dial-pad .phoneString input {
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  border: none;
  font-size: 30px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.pad .dial-pad .phoneString input:focus {
  outline: none;
}
.pad .dial-pad .digits {
  overflow: hidden;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}
.pad .dial-pad .digits .dig-spacer {
  width: 60px;
  margin: 10px calc(50% - 90px);
  float: left;
}
.pad .dial-pad .digits .dig {
  color: white;
  font-size: 30px;
  float: left;
  background-color: #2D2D2D;
  text-align: center;
  width: 60px;
  height: 56px;
  border-radius: 100%;
  margin: 10px 0px;
  padding-top: 4px;
  font-weight: 700;
  cursor: pointer;
}
.pad .dial-pad .digits .dig.clicked {
  animation: pulse-gray linear 0.5s 1;
}
.pad .dial-pad .digits .dig:nth-child(3n-1) {
  margin: 10px calc(50% - 90px);
}
.pad .dial-pad .digits .dig.astrisk {
  padding-top: 17px;
  height: 43px;
}
.pad .dial-pad .digits .dig.pound {
  padding-top: 10px;
  height: 50px;
}
.pad .dial-pad .digits .dig .sub-dig {
  font-size: 8px;
  font-weight: 300;
  position: relative;
  top: -2px;
}
.pad .dial-pad .digits .dig.peer, .pad .dial-pad .digits .dig.settings {
  margin-bottom: 25px;
}
.pad .dial-pad .digits .dig.peer {
  background-color: transparent;
}
.pad .dial-pad .digits .dig.peer.clicked {
  animation: pulse-blue linear 0.5s 1;
}
.pad .dial-pad .digits .dig.settings {
  background-color: transparent;
}

.align-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.pad .dial-pad .digits .dig.settings.clicked {
  animation: pulse-red linear 0.5s 1;
}
.pad .call-pad {
  opacity: 0;
  height: 0px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  transition: opacity 0.3s ease;
}
.pad .call-pad.in-call {
  height: 100%;
  opacity: 1;
  pointer-events: all;
}
.pad .call-pad .pulsate {
  opacity: 0;
  width: 150px;
  height: 0px;
  overflow: visible;
  position: relative;
  display: block;
  margin: 0 auto 0;
  top: 120px;
  transition: opacity 0.5s ease;
}
.pad .call-pad .pulsate.active-call {
  animation: pulsator 2s ease infinite;
  opacity: 1;
}
.pad .call-pad .pulsate div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pad .call-pad .pulsate div:nth-child(1) {
  width: 110px;
  height: 110px;
}
.pad .call-pad .pulsate div:nth-child(2) {
  width: 122px;
  height: 122px;
}
.pad .call-pad .pulsate div:nth-child(3) {
  width: 134px;
  height: 134px;
}
.pad .call-pad .ca-avatar {
  width: 100px;
  height: 100px;
  margin: 70px auto;
  margin-bottom: 30px;
  display: block;
  background-color: #111111;
  border-radius: 100%;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.8);
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0.5;
  transform: scale(0.5, 0.5);
}
.pad .call-pad .ca-avatar.in-call {
  transform: scale(1, 1);
  opacity: 1;
}
.pad .call-pad .ca-name, .pad .call-pad .ca-number, .pad .call-pad .ca-status {
  width: 60%;
  margin-left: 20%;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.pad .call-pad .ca-name {
  font-size: 18px;
}
.pad .call-pad .ca-number {
  font-size: 28px;
  letter-spacing: 2px;
}
.pad .call-pad .ca-status {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.pad .call-pad .ca-status:after {
  content: attr(data-dots);
  position: absolute;
}
.pad .call-pad .ca-buttons {
  width: 70%;
  margin-left: 15%;
}
.pad .call-pad .ca-buttons .ca-b-single {
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  position: relative;
  margin-bottom: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55% auto;
}
.pad .call-pad .ca-buttons .ca-b-single:nth-child(3n-1) {
  margin-left: calc(100% - 230px);
  margin-right: calc(100% - 230px);
}
.pad .call-pad .ca-buttons .ca-b-single:after {
  content: attr(data-label);
  color: white;
  position: absolute;
  text-align: center;
  font-size: 10px;
  width: 100px;
  bottom: -20px;
  left: -18px;
  letter-spacing: 2px;
}

.call {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 10px 0px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 30px);
  bottom: 25px;
  box-shadow: 0px  25px 30px -15px black;
  background-color: #3DE066;
}
.call .call-change {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call.clicked {
  animation: pulse-green linear 0.5s 1 forwards;
}
.hangup {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 10px 0px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 30px);
  bottom: 25px;
  box-shadow: 0px  25px 30px -15px black;
  background-color: #e53935;
}
.hangup .call-change {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangup.clicked {
  animation: pulse-green linear 0.5s 1 forwards;
}

@keyframes pulse-gray {
  0% {
    box-shadow: inset 0 0 0px 30px #2D2D2D, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #2D2D2D, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #2D2D2D, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse-green {
  0% {
    box-shadow: inset 0 0 0px 30px #3DE066, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #3DE066, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #3DE066, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse-red {
  0% {
    box-shadow: inset 0 0 0px 30px #FA4A5D, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #FA4A5D, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #FA4A5D, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulsator {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes showPad {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 550px;
}
.login h3 {
  color: white;
}

.login .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login .form .input-text {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  border: none;
  border-radius: 2px;
  padding-left: 10px; 
}

.login .form button {
  margin-top: 15px; 
  width: 60%;
  height: 35px;
  background-color: #00a7e6;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
}
.login .teravoz-logo {
  width: 200px;
  margin-bottom: 30px;
}

.login .form span {
  font-size: 11px;
  color: #e53935;
}

.login .form .remember-check {
  margin-top: 15px;
  width: 100%;    
  display:flex;
  align-items: center;
  justify-content: center;
}
.login .form .remember-check span {
  font-size: 12px;
  padding-right: 5px;
  color: white;
}

.tools {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 550px;
}
.tools h3 {
  color: white;
}

.tools .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tools .form input, 
.tools .form select {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  border: none;
  border-radius: 2px;
  padding-left: 10px; 
}

.tools .form button {
  margin-top: 15px; 
  width: 60%;
  height: 35px;
  background-color: #00a7e6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
}

.tools .go-back {
  color: white;
  font-size: 1.5rem;
  align-self: flex-start;
  padding-left: 50px;
  cursor: pointer;
  transition: 
}

